<a href="https://colab.research.google.com/github/yoojinlee-hub/Practice_python/blob/main/DataFrame%20%ED%81%B0%20%EC%9E%90%EB%A3%8C%20%EB%8B%A4%EB%A3%A8%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

큰 DataFrame 살펴보기

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
laptops_df = pd.read_csv('/content/drive/MyDrive/laptops.csv')

In [3]:
laptops_df

     brand             model  ram  ...       os  weight  comments
0     Dell  Inspiron 15-3567    4  ...    linux    2.50       NaN
1    Apple       MacBook Air    8  ...      mac    1.35       NaN
2    Apple       MacBook Air    8  ...      mac    1.35       NaN
3    Apple       MacBook Pro    8  ...      mac    3.02       NaN
4    Apple       MacBook Pro    8  ...      mac    3.02       NaN
..     ...               ...  ...  ...      ...     ...       ...
162   Asus            A555LF    8  ...  windows    2.30       NaN
163   Asus     X555LA-XX172D    4  ...    linux    2.30       NaN
164   Asus            X554LD    2  ...    linux    2.30       NaN
165   Asus    X550LAV-XX771D    2  ...    linux    2.50       NaN
166   Asus     X540LA-XX538T    4  ...  windows    2.30       NaN

[167 rows x 15 columns]

In [4]:
laptops_df.head(3)

   brand             model  ram  ...     os  weight  comments
0   Dell  Inspiron 15-3567    4  ...  linux    2.50       NaN
1  Apple       MacBook Air    8  ...    mac    1.35       NaN
2  Apple       MacBook Air    8  ...    mac    1.35       NaN

[3 rows x 15 columns]

In [5]:
laptops_df.tail(6)

    brand           model  ram  ...       os  weight  comments
161  Asus  X541UA-GO1345D    4  ...    linux    1.84       NaN
162  Asus          A555LF    8  ...  windows    2.30       NaN
163  Asus   X555LA-XX172D    4  ...    linux    2.30       NaN
164  Asus          X554LD    2  ...    linux    2.30       NaN
165  Asus  X550LAV-XX771D    2  ...    linux    2.50       NaN
166  Asus   X540LA-XX538T    4  ...  windows    2.30       NaN

[6 rows x 15 columns]

In [6]:
laptops_df.shape

(167, 15)

In [7]:
laptops_df.columns

Index(['brand', 'model', 'ram', 'hd_type', 'hd_size', 'screen_size', 'price',
       'processor_brand', 'processor_model', 'clock_speed',
       'graphic_card_brand', 'graphic_card_size', 'os', 'weight', 'comments'],
      dtype='object')

In [8]:
laptops_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   brand               167 non-null    object
 1   model               167 non-null    object
 2   ram                 167 non-null    int64
 3   hd_type             167 non-null    object
 4   hd_size             167 non-null    int64
 5   screen_size         167 non-null    float64
 6   price               167 non-null    int64
 7   processor_brand     167 non-null    object
 8   processor_model     167 non-null    object
 9   clock_speed         166 non-null    float64
 10  graphic_card_brand  163 non-null    object
 11  graphic_card_size   81 non-null     float64
 12  os                  167 non-null    object
 13  weight              160 non-null    float64
 14  comments            55 non-null     object
dtypes: float64(4), int64(3), object(8)
memory usage: 19.7+ KB

In [9]:
laptops_df.describe()

              ram     hd_size  ...  graphic_card_size      weight
count  167.000000   167.00000  ...          81.000000  160.000000
mean     6.898204   768.91018  ...          52.160494    2.250812
std      3.787479   392.99080  ...         444.134142    0.648446
min      2.000000    32.00000  ...           1.000000    0.780000
25%      4.000000   500.00000  ...           2.000000    1.900000
50%      8.000000  1024.00000  ...           2.000000    2.200000
75%      8.000000  1024.00000  ...           4.000000    2.600000
max     16.000000  2048.00000  ...        4000.000000    4.200000

[8 rows x 7 columns]

In [10]:
laptops_df.sort_values(by='price') #정렬 / 새로운 데이터 프레임

         brand  ...                                           comments
148       Acer  ...                                                NaN
83        Acer  ...                                                NaN
108       Acer  ...                                                NaN
100       Acer  ...                                                NaN
73        Acer  ...                                                NaN
..         ...  ...                                                ...
154  Microsoft  ...                                                NaN
31        Acer  ...                                Integrated Graphics
96   Alienware  ...  13.3 inch FHD (1920 x 1080) IPS Anti-Glare 300...
90   Alienware  ...     Maximum Display Resolution : 1920 x 1080 pixel
5        Apple  ...                                                NaN

[167 rows x 15 columns]

In [11]:
laptops_df.sort_values(by='price',ascending=False) #큰 것 부터 정렬

         brand  ...                                           comments
5        Apple  ...                                                NaN
90   Alienware  ...     Maximum Display Resolution : 1920 x 1080 pixel
96   Alienware  ...  13.3 inch FHD (1920 x 1080) IPS Anti-Glare 300...
31        Acer  ...                                Integrated Graphics
154  Microsoft  ...                                                NaN
..         ...  ...                                                ...
73        Acer  ...                                                NaN
100       Acer  ...                                                NaN
108       Acer  ...                                                NaN
83        Acer  ...                                                NaN
148       Acer  ...                                                NaN

[167 rows x 15 columns]

In [12]:
laptops_df

     brand             model  ram  ...       os  weight  comments
0     Dell  Inspiron 15-3567    4  ...    linux    2.50       NaN
1    Apple       MacBook Air    8  ...      mac    1.35       NaN
2    Apple       MacBook Air    8  ...      mac    1.35       NaN
3    Apple       MacBook Pro    8  ...      mac    3.02       NaN
4    Apple       MacBook Pro    8  ...      mac    3.02       NaN
..     ...               ...  ...  ...      ...     ...       ...
162   Asus            A555LF    8  ...  windows    2.30       NaN
163   Asus     X555LA-XX172D    4  ...    linux    2.30       NaN
164   Asus            X554LD    2  ...    linux    2.30       NaN
165   Asus    X550LAV-XX771D    2  ...    linux    2.50       NaN
166   Asus     X540LA-XX538T    4  ...  windows    2.30       NaN

[167 rows x 15 columns]

In [13]:
laptops_df.sort_values(by='price',ascending=False,inplace=True)
laptops_df

         brand  ...                                           comments
5        Apple  ...                                                NaN
90   Alienware  ...     Maximum Display Resolution : 1920 x 1080 pixel
96   Alienware  ...  13.3 inch FHD (1920 x 1080) IPS Anti-Glare 300...
31        Acer  ...                                Integrated Graphics
154  Microsoft  ...                                                NaN
..         ...  ...                                                ...
73        Acer  ...                                                NaN
100       Acer  ...                                                NaN
108       Acer  ...                                                NaN
83        Acer  ...                                                NaN
148       Acer  ...                                                NaN

[167 rows x 15 columns]

큰 Series 살펴보기

In [14]:
import pandas as pd
laptops_df = pd.read_csv('/content/drive/MyDrive/laptops.csv')

In [15]:
laptops_df['brand']

0       Dell
1      Apple
2      Apple
3      Apple
4      Apple
       ...
162     Asus
163     Asus
164     Asus
165     Asus
166     Asus
Name: brand, Length: 167, dtype: object

In [16]:
laptops_df['brand'].unique()

array(['Dell', 'Apple', 'Acer', 'HP', 'Lenovo', 'Alienware', 'Microsoft',
       'Asus'], dtype=object)

In [17]:
laptops_df['brand'].value_counts()

HP           55
Acer         35
Dell         31
Lenovo       18
Asus          9
Apple         7
Alienware     6
Microsoft     6
Name: brand, dtype: int64

In [18]:
laptops_df['brand'].describe()

count     167
unique      8
top        HP
freq       55
Name: brand, dtype: object

퀴즈풀기

In [19]:
city_df = pd.read_csv('/content/drive/MyDrive/world_cities.csv')
city_df

     Unnamed: 0 City / Urban area     Country  Population  Land area (in sqKm)
0             0      Buenos Aires   Argentina    11200000                 2266
1             1         Melbourne   Australia     3162000                 2080
2             2            Sydney   Australia     3502000                 1687
3             3          Brisbane   Australia     1508000                 1603
4             4             Perth   Australia     1177000                  964
..          ...               ...         ...         ...                  ...
244         245            Canton         USA      267000                  372
245         246           Spokane         USA      335000                  371
246         247          Tashkent  Uzbekistan     2200000                  531
247         248  Ho Chi Minh City     Vietnam     4900000                  518
248         249            Harare    Zimbabwe     1750000                  712

[249 rows x 5 columns]

In [21]:
city_df.shape

(249, 5)

In [22]:
city_df['Country'].unique()

array(['Argentina', 'Australia', 'Austria', 'Azerbaijan', 'Belgium',
       'Brazil', 'Cambodia', 'Canada', 'Chile', 'China', 'Colombia',
       'Congo', 'Denmark', 'Ecuador', 'Egypt', 'Finland', 'France',
       'Germany', 'Ghana', 'Greece', 'Hungary', 'India', 'Indonesia',
       'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Japan', 'Kuwait',
       'Lebanon', 'Malaysia', 'Mexico', 'Netherlands', 'New Zealand',
       'Nigeria', 'Pakistan', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Russia', 'Saudi', 'Saudi Arabia', 'Singapore',
       'South Africa', 'South Korea', 'Spain', 'Sudan', 'Sweden',
       'Taiwan', 'Thailand', 'Turkey', 'UAE', 'UK', 'Ukraine', 'USA',
       'Uzbekistan', 'Vietnam', 'Zimbabwe'], dtype=object)

In [23]:
city_df['Country'].value_counts() #df['Country'].value_counts().shape

USA           105
France         15
Brazil         10
Canada          9
Germany         8
             ...
Uzbekistan      1
Thailand        1
Cambodia        1
Iraq            1
Azerbaijan      1
Name: Country, Length: 61, dtype: int64

In [24]:
city_df['City / Urban area'].value_counts() #df['City / Urban area'].value_counts().shape

Guadalajara              1
Tampa//St. Petersburg    1
Jackson                  1
Virginia Beach           1
Dalian                   1
                        ..
Richmond                 1
Fayetteville             1
Santiago                 1
Perth                    1
Albany                   1
Name: City / Urban area, Length: 249, dtype: int64

In [26]:
city_df['density'] = city_df['Population']/city_df['Land area (in sqKm)'] #인구밀도
city_df_high_density = city_df[city_df['density']>10000]
city_df_high_density.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19 entries, 32 to 129
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           19 non-null     int64
 1   City / Urban area    19 non-null     object
 2   Country              19 non-null     object
 3   Population           19 non-null     int64
 4   Land area (in sqKm)  19 non-null     int64
 5   density              19 non-null     float64
dtypes: float64(1), int64(3), object(2)
memory usage: 1.0+ KB

In [29]:
density_ranks=city_df.sort_values(by='density',ascending=False) #인구밀도 순위

In [30]:
density_ranks['City / Urban area']

75              Mumbai
74             Kolkata
101            Karachi
99               Lagos
34            Shenzhen
            ...
194        Chattanooga
223          Asheville
57                 Pau
220            Hickory
196    Barnstable Town
Name: City / Urban area, Length: 249, dtype: object

In [36]:
find_city=city_df['Country'].value_counts()

In [37]:
find_city[find_city==4]

Italy    4
Name: Country, dtype: int64